@font-face {
	font-family: 'Times_New_Roman_Type0_0';
	src: local('Times_New_Roman_Type0_0');
	src: url('Times_New_Roman_Type0_0.otf') format('opentype');
}

.fmt-0{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-1{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-2{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-3{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-4{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-5{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#ffffff;font-size:12pt;}

.fmt-6{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#ffffff;font-size:12pt;}

.fmt-7{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-8{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#7d96ac;font-size:12pt;}

.fmt-9{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-10{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-11{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-12{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#7d96ac;font-size:12pt;}

.fmt-13{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#585858;font-size:12pt;}

@font-face {
	font-family: 'Times_New_Roman_Type0_1';
	src: local('Times_New_Roman_Type0_1');
	src: url('Times_New_Roman_Type0_1.otf') format('opentype');
}

.fmt-14{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-15{font-style:normal;font-weight:bold;font-family:Times New Roman Bold,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-16{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-17{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-18{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-19{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-20{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-21{font-style:normal;font-weight:bold;font-family:Times New Roman Bold,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-22{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-23{font-style:normal;font-weight:bold;font-family:Times New Roman Bold,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-24{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-25{font-style:normal;font-weight:bold;font-family:Times New Roman Bold,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-26{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-27{font-style:normal;font-weight:bold;font-family:Times New Roman Bold,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-28{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-29{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-30{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-31{font-style:normal;font-weight:bold;font-family:Times New Roman Bold,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-32{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-33{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-34{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-35{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-36{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-37{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-38{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-39{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-40{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-41{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-42{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-43{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-44{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-45{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-46{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-47{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-48{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-49{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-50{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-51{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-52{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-53{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-54{font-style:normal;font-weight:bold;font-family:Times New Roman Bold,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-55{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-56{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-57{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-58{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-59{font-style:normal;font-weight:bold;font-family:Times_New_Roman_Type0_1,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-60{font-style:normal;font-weight:bold;font-family:Times New Roman Bold,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-61{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-62{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-63{font-style:normal;font-weight:bold;font-family:Times New Roman Bold,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-64{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-65{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-66{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-67{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-68{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-69{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-70{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-71{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-72{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-73{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:8.04pt;}

.fmt-74{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-75{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-76{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-77{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-78{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-79{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-80{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-81{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#394a5b;font-size:12pt;}

.fmt-82{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-83{font-style:normal;font-weight:normal;font-family:Times_New_Roman_Type0_0,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-84{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#000000;font-size:12pt;}

.fmt-85{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-86{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#7d96ac;font-size:12pt;}

.fmt-87{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-88{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

.fmt-89{font-style:normal;font-weight:normal;font-family:Times New Roman,Times New Roman,serif;color:#585858;font-size:12pt;}

